<%- include('partials/_header') %>



<body class="indexPage">

<%- include('partials/_navigation') %>

    <header class="text-center mt-3 text-muted">
        <h1>Ev Ekonomisi</h1>
    </header>
    <section>
        <div class="container">
            <div class="row ortala">
                <div class="col-lg-6">
                    <a href="/login" class="btn btn-outline-primary">
                        <i class="fa-solid fa-right-to-bracket fa-3x"></i>
                        <p>Login</p>
                    </a>
                </div>
                <div class="col-lg-6"> 
                    <a href="/signup" class="btn btn-outline-danger">
                        <i class="fa-solid fa-user-plus fa-3x"></i>
                        <p>Sign Up</p>
                    </a>

                </div>
            </div>




        </div>
    </section>



    <%- include('partials/_footer') %>
