
.dropdown-toggle::after {
    display: none;;
}
.task{
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

#grafik{
	display: block;
	height: 500px;
	width: 500px;

}

/* index Page */
.indexPage{
    background: url(../images/indexPage.jpg) no-repeat center top;
    background-attachment: fixed;
    background-size: cover;
    height:100vh;
	min-height:100%;
}

/* login Page */
.loginPage{
    background: url(../images/loginPage.jpg) no-repeat center top;
    background-attachment: fixed;
    background-size: cover;
    height:100vh;
	min-height:100%;
}

/* signup */


#signup-body{
    background: url(../images/signupPage.jpg) no-repeat center top;
    background-attachment:fixed;
	background-size:cover;
	height:100vh;
	min-height:100%;
}

.ortala{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 75px;
}

.nav-hover:hover{
    background-color: orange;
}

/* #transparan{
 background-color: #BAD3DA!important;
} */